* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100px;
  grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    /* "footer footer"; */
}

.sidebar {
  grid-area: sidebar;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 5rem 20rem auto;
  background-color: lightskyblue;
  padding-left: 30px;
}

.dashboard-home, .home-links-list {
  display: flex;
  align-items: center;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  grid-template-rows: 1fr 1fr;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type=text] {
  width: 40rem;
  border-radius: 10px;
}

input[type=text], .search > button {
  height: 1.5rem;
}

.search > button {
  width: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.fa.fa-search {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 5px 0;
}

.account-container {
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 20px;
}

.bell-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.current-account-container {
  display: flex;
  gap: 10px;
}

.search, .current-account-container {
  padding-left: 20px;
}

.project-widgets-container {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

.project-widgets-buttons > input {
  width: 5rem;
  height: 2rem;
  border-radius: 20px;
  background-color: #24a0ed;
  color: white;
  border-width: 0px;
}

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  background-color: lightgray;
}

.projects-main {
  display: grid;
  grid-template-rows: 3rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  /* overflow: auto; */
}

.projects > div {
  margin: 0px 0px 10px 10px;
  padding: 20px;
  background-color: whitesmoke;
  border: 0.5px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-links {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.notifications {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
}

.announcements, .trending {
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.messages {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  background-color: whitesmoke;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 10px;
}

.messages div {
  overflow: auto;
}

.trending-users {
  display: grid;
  grid-template-rows: repeat(4, 75px);
  background-color: whitesmoke;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 10px;
}

.trending-users > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

/* footer {
  grid-area: footer;
  background-color: lightgray;
} */